body {
  margin: 0;
  padding: 0;
  background: #348f50;
  background: -webkit-linear-gradient(to bottom right, #348f50, #56b4d3);
  background: linear-gradient(to bottom right, #348f50, #56b4d3);
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: black;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  width: max-content;
  padding: 10px;
  font-size: 3rem;
  transition: 500ms;
}

h1:hover {
  transform: translateY(-5px);
}

.recipes-container {
  background-color: rgba(152, 228, 254, 0.668);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 80%;
  width: 80%;
}

.recipes-container a {
  color: rgb(248, 248, 248);
  font-size: 1.8rem;
}

.recipes-container a:hover {
  color: rgb(225, 225, 225);
}
